.container {
  width: 100%;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;

  @media screen and (min-width: 320px) {
    width: 100%;
  }

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 100%;
    padding-right: 65px;
    padding-left: 65px;
  }

  @media screen and (min-width: 900px) {
    width: 800px;
  }

  @media screen and (min-width: 1280px) {
    width: 100%;
    max-width: 1280px;
    padding-right: 230px;
    padding-left: 230px;
  }
}
