@charset "UTF-8";
/*НАЗНАЧЕНИЕ ПАРШАЛОВ*/
/* montserrat-regular - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/montserrat/montserrat-v15-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/montserrat/montserrat-v15-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat/montserrat-v15-latin-regular.woff2") format("woff2"), url("../fonts/montserrat/montserrat-v15-latin-regular.woff") format("woff"), url("../fonts/montserrat/montserrat-v15-latin-regular.ttf") format("truetype"), url("../fonts/montserrat/montserrat-v15-latin-regular.svg#Montserrat") format("svg");
  /* Legacy iOS */
}

/* montserrat-500 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/montserrat/montserrat-v15-latin-500.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/montserrat/montserrat-v15-latin-500.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat/montserrat-v15-latin-500.woff2") format("woff2"), url("../fonts/montserrat/montserrat-v15-latin-500.woff") format("woff"), url("../fonts/montserrat/montserrat-v15-latin-500.ttf") format("truetype"), url("../fonts/montserrat/montserrat-v15-latin-500.svg#Montserrat") format("svg");
  /* Legacy iOS */
}

/* montserrat-500italic - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 500;
  src: url("../fonts/montserrat/montserrat-v15-latin-500italic.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/montserrat/montserrat-v15-latin-500italic.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat/montserrat-v15-latin-500italic.woff2") format("woff2"), url("../fonts/montserrat/montserrat-v15-latin-500italic.woff") format("woff"), url("../fonts/montserrat/montserrat-v15-latin-500italic.ttf") format("truetype"), url("../fonts/montserrat/montserrat-v15-latin-500italic.svg#Montserrat") format("svg");
  /* Legacy iOS */
}

/* caveat-brush-regular - latin */
@font-face {
  font-family: 'Caveat Brush';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/caveat-brush/caveat-brush-v6-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/caveat-brush/caveat-brush-v6-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/caveat-brush/caveat-brush-v6-latin-regular.woff2") format("woff2"), url("../fonts/caveat-brush/caveat-brush-v6-latin-regular.woff") format("woff"), url("../fonts/caveat-brush/caveat-brush-v6-latin-regular.ttf") format("truetype"), url("../fonts/caveat-brush/caveat-brush-v6-latin-regular.svg#CaveatBrush") format("svg");
  /* Legacy iOS */
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: #2e2520;
  background-color: #fff;
}

@media screen and (min-width: 1280px) {
  body {
    font-size: 18px;
    line-height: 1.22;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}

@media screen and (min-width: 320px) {
  .container {
    width: 320px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 665px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 854px;
  }
}

.logo {
  display: block;
  margin-right: auto;
  margin-left: auto;
  fill: #2e2520;
}

.header__logo {
  padding-top: 7px;
}

@media screen and (min-width: 768px) {
  .header__logo {
    margin: 0;
    padding-top: 27px;
  }
}

@media screen and (min-width: 1280px) {
  .header__logo {
    padding-top: 30px;
    margin-right: 30px;
  }
}

.header__logo-icon {
  width: 96px;
  height: 43px;
  fill: #2e2520;
}

.header__logo-icon .header__logo:hover,
.header__logo:focus .header__logo-icon {
  fill: #ab816c;
}

@media screen and (min-width: 1280px) {
  .header__logo-icon {
    width: 158px;
    height: 71px;
  }
}

.menu__logo {
  margin-bottom: 40px;
}

@media screen and (min-width: 1280px) {
  .menu__logo {
    display: none;
  }
}

.menu__logo-icon {
  width: 190px;
  height: 85px;
}

.menu__logo-icon .menu__logo:hover,
.menu__logo:focus .menu__logo-icon {
  fill: #ab816c;
}

.section__title {
  font-family: "Caveat Brush", cursive;
  font-weight: 400;
  font-size: 24px;
  line-height: 2.71;
  color: #2e2520;
}

@media screen and (max-width: 767.98px) {
  .section__title {
    text-align: center;
  }
}

@media screen and (min-width: 1280px) {
  .section__title {
    font-size: 36px;
    line-height: 1.81;
    margin-bottom: 10px;
  }
}

.reviews__title {
  text-align: center;
  font-size: 24px;
  line-height: 2.7;
  font-family: Caveat Brush;
  font-weight: normal;
}

@media screen and (min-width: 1280px) {
  .reviews__title {
    font-size: 36px;
    line-height: 1.8;
  }
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 145px;
  height: 40px;
  font-family: "Caveat Brush", cursive;
  font-size: 18px;
  line-height: 3.61;
  color: #fff;
  background-color: #ab816c;
  border: 1px solid transparent;
  border-radius: 25px;
  cursor: pointer;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1280px) {
  .btn {
    min-width: 158px;
    height: 45px;
    font-size: 24px;
    line-height: 2.71;
  }
}

.btn:focus, .btn:hover {
  background-color: #fff;
  border: 1px solid #ab816c;
  color: #ab816c;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social-list__icon {
  height: 15px;
  fill: #2e2520;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1280px) {
  .social-list__icon {
    height: 19px;
  }
}

.social-list__link:hover .social-list__icon,
.social-list__link:focus .social-list__icon {
  fill: #ab816c;
}

.social-list__item:not(:last-child) {
  margin-right: 9.5px;
}

@media screen and (min-width: 1280px) {
  .social-list__item:not(:last-child) {
    margin-right: 12px;
  }
}

.social-list__tw {
  width: 19px;
}

@media screen and (min-width: 1280px) {
  .social-list__tw {
    width: 24px;
  }
}

.social-list__inst {
  width: 15px;
}

@media screen and (min-width: 1280px) {
  .social-list__inst {
    width: 19px;
  }
}

.social-list__fb {
  width: 8px;
}

@media screen and (min-width: 1280px) {
  .social-list__fb {
    width: 10px;
  }
}

.rate__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  margin-top: 6px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.rate__item {
  margin-right: 4px;
}

.rate__item:nth-child(5) {
  margin-right: 0;
}

.icon__star {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 24px;
  height: 24px;
  fill: #ab816c;
  border-radius: 1px;
}

.null {
  stroke: #ab816c;
  fill: none;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  z-index: 150;
  overflow-y: scroll;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: inherit;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.3);
          transform: translate(-50%, -50%) scale(0.3);
}

.modal {
  position: relative;
  padding: 20px;
  height: 100%;
  background-color: #fef3e4;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 730px;
    height: 600px;
    border-radius: 10px;
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
}

@media screen and (min-width: 1280px) {
  .modal {
    width: 950px;
  }
}

.modal__btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #ab816c;
  cursor: pointer;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__btn-close:hover, .modal__btn-close:focus {
  background-color: #fff;
  border: 1px solid #ab816c;
}

.modal__btn-close:hover .modal__btn-icon,
.modal__btn-close:focus .modal__btn-icon {
  fill: #ab816c;
}

.modal__btn-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  fill: #fff;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__map {
  width: 100%;
  height: 100%;
  border: 1px solid #ab816c;
  border-radius: 10px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-section {
  position: relative;
}

.header__button {
  position: absolute;
  z-index: 100;
  top: 15px;
  right: 15px;
  display: inline-block;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .header__button {
    top: 25px;
    right: 67px;
  }
}

@media screen and (min-width: 1280px) {
  .header__button {
    display: none;
  }
}

.header__button:hover,
.header__button:focus .header__button-icon {
  fill: #ab816c;
}

.header__button-icon {
  fill: #2e2520;
}

.header__icon-close {
  display: none;
  width: 18px;
  height: 18px;
}

.header__button.is-open .header__icon-close {
  display: block;
  top: 20px;
  right: 20px;
}

.header__icon-burger {
  width: 30px;
  height: 16px;
}

.header__button.is-open .header__icon-burger {
  display: none;
}

@media screen and (max-width: 1279px) {
  .menu {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    width: 100vw;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    padding: 25px 65px;
    background-color: rgba(254, 243, 228, 0.9);
  }
}

@media screen and (min-width: 1280px) {
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
}

.menu.is-open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}

@media screen and (min-width: 1280px) {
  .menu__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.menu__item {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.21;
  color: #2e2520;
}

@media screen and (min-width: 1280px) {
  .menu__item {
    margin-bottom: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.22;
  }
}

.menu__item:hover {
  color: #876655;
}

.menu__item:not(:last-child) {
  margin-bottom: 45px;
}

@media screen and (min-width: 768px) {
  .menu__item:not(:last-child) {
    margin-bottom: 45px;
  }
}

@media screen and (min-width: 1280px) {
  .menu__item:not(:last-child) {
    margin-bottom: 0;
    margin-right: 20px;
  }
}

.common_up {
  background-image: url(../images/mobile/hero_donut_masterclass/mobile-header-donuts.png), url(../images/mobile/header-bg/mobile-header-bg.png);
  background-position: top 0 left 0, top 0 center;
  background-size: 130px auto, 100% 460px;
  background-repeat: no-repeat;
}

@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .common_up {
    background-image: url(../images/mobile/hero_donut_masterclass/mobile-header-donuts@2x.png), url(../images/mobile/header-bg/mobile-header-bg@2x.png);
  }
}

@media screen and (min-width: 768px) {
  .common_up {
    background-image: url(../images/tablet/hero_donut_masterclass/tablet-header-donuts.png), url(../images/tablet/header-bg/tablet-header-bg.png);
    background-size: 378px auto, 100% 622px;
    background-position: top 0 right 137px, top 0 right 0;
    background-repeat: no-repeat;
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .common_up {
    background-image: url(../images/tablet/hero_donut_masterclass/tablet-header-donuts@2x.png), url(../images/tablet/header-bg/tablet-header-bg@2x.png);
  }
}

@media screen and (min-width: 1280px) {
  .common_up {
    background-image: url(../images/desktop/hero_donut_masterclass/desktop-header-spoon.png), url(../images/desktop/hero_donut_masterclass/desktop-header-donuts.png), url(../images/desktop/header-bg/desktop-header-bg.png);
    max-width: 1920px;
    background-size: 178px auto, 723px auto, 100% 1035px;
    background-position: top 166px right 100%, top 0 right 0, top 0 center;
    background-repeat: no-repeat;
  }
}

@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .common_up {
    background-image: url(../images/desktop/hero_donut_masterclass/desktop-header-spoon@2x.png), url(../images/desktop/hero_donut_masterclass/desktop-header-donuts@2x.png), url(../images/desktop/header-bg/desktop-header-bg@2x.png);
  }
}

.hero-section {
  margin-bottom: -23px;
}

@media screen and (min-width: 768px) {
  .hero-section {
    margin-bottom: 0px;
    padding-bottom: 70px;
  }
}

@media screen and (min-width: 1280px) {
  .hero-section {
    padding-bottom: 10px;
  }
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 33px;
}

@media screen and (min-width: 768px) {
  .hero {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-top: 10px;
  }
}

@media screen and (min-width: 1280px) {
  .hero {
    padding-top: 60px;
  }
}

.hero__title {
  max-width: 224px;
  width: 100%;
  margin-bottom: 3px;
  text-align: center;
  font-family: "Caveat Brush", cursive;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.27;
  color: #2e2520;
}

@media screen and (min-width: 1280px) {
  .hero__title {
    max-width: 490px;
    margin-bottom: 15px;
    font-weight: 400;
    font-size: 64px;
    line-height: 1.02;
  }
}

.hero__label {
  margin-bottom: 37px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  color: #2e2520;
}

@media screen and (min-width: 768px) {
  .hero__label {
    margin-bottom: 26px;
  }
}

@media screen and (min-width: 1280px) {
  .hero__label {
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.21;
  }
}

.hero__btn {
  margin-bottom: 50px;
}

@media screen and (min-width: 768px) {
  .hero__btn {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1280px) {
  .hero__btn {
    margin-bottom: 65px;
  }
}

@media screen and (min-width: 768px) {
  .about__content-wrap {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

@media screen and (min-width: 768px) {
  .about__img-wrap {
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: translate(-40px, 20px);
            transform: translate(-40px, 20px);
  }
}

@media screen and (min-width: 1280px) {
  .about__img-wrap {
    z-index: -100;
    -webkit-transform: translate(-140px, 30px);
            transform: translate(-140px, 30px);
  }
}

@media screen and (min-width: 768px) {
  .about__text-wrap {
    max-width: 336px;
  }
}

@media screen and (min-width: 1280px) {
  .about__text-wrap {
    max-width: 392px;
    padding-top: 100px;
    padding-bottom: 39px;
    padding-right: 5px;
  }
}

@media screen and (min-width: 1280px) {
  .about__text-wrap--textblock-hidden {
    display: none;
  }
}

@media screen and (max-width: 1279.98px) {
  .about__text-wrap--textblock-visable {
    display: none;
  }
}

@media screen and (min-width: 1280px) {
  .about__text-wrap--textblock-visable {
    display: block;
  }
}

.about__text {
  margin-top: 20px;
}

@media screen and (min-width: 1280px) {
  .about__text {
    margin-top: 22px;
  }
}

.truncate_more_link {
  font-family: "Caveat Brush", cursive;
  font-size: 18px;
  line-height: 3.61;
  color: #ab816c;
  text-decoration: none;
}

@media screen and (min-width: 1280px) {
  .about__text-add {
    margin-top: 22px;
  }
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding-bottom: 47px;
}

@media screen and (min-width: 768px) {
  .contact {
    padding-bottom: 50px;
  }
}

@media screen and (min-width: 1280px) {
  .contact {
    padding-bottom: 82px;
  }
}

.contact__lable {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  color: #2e2520;
}

@media screen and (min-width: 1280px) {
  .contact__lable {
    font-weight: 400;
    font-size: 18px;
    line-height: 3.61;
  }
}

.contact__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 37px 0;
}

@media screen and (min-width: 768px) {
  .contact__form {
    margin: 0 0 27px 0;
  }
}

.contact__form-field {
  width: 230px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid #ab816c;
  background: transparent;
}

.contact__form-field:hover, .contact__form-field:focus {
  outline: none;
}

.contact__form-field:not(:last-child) {
  margin-bottom: 25px;
}

.contact__form-field::-webkit-input-placeholder {
  color: rgba(171, 129, 108, 0.5);
}

@media screen and (min-width: 768px) {
  .contact__form-field {
    width: 410px;
  }
}

@media screen and (min-width: 1280px) {
  .contact__form-field {
    width: 430px;
  }
}

.footer {
  padding-bottom: 19px;
}

@media screen and (min-width: 768px) {
  .footer {
    padding-bottom: 21px;
  }
}

@media screen and (min-width: 1280px) {
  .footer {
    padding-bottom: 25px;
  }
}

.footer__socials {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 34px;
}

@media screen and (min-width: 768px) {
  .footer__socials {
    padding-bottom: 51px;
  }
}

@media screen and (min-width: 1280px) {
  .footer__socials {
    padding-bottom: 40px;
  }
}

.footer-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.footer__location-btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.footer__tel-link:hover,
.footer__tel-link:focus {
  color: #ab816c;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__tel-link:hover:hover .footer__tel-icon,
.footer__tel-link:hover:focus .footer__tel-icon,
.footer__tel-link:focus:hover .footer__tel-icon,
.footer__tel-link:focus:focus .footer__tel-icon {
  fill: #ab816c;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__location-btn:hover,
.footer__location-btn:focus {
  color: #ab816c;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__location-btn:hover:hover .footer__location-icon,
.footer__location-btn:hover:focus .footer__location-icon,
.footer__location-btn:focus:hover .footer__location-icon,
.footer__location-btn:focus:focus .footer__location-icon {
  fill: #ab816c;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.common_down {
  background-image: url(../images/mobile/contact/mobile-footer-spoon-and-flour.png), url(../images/mobile/footer-bg/mobile-footer-bg.png);
  background-position: bottom 0 right 0, bottom 210px center;
  background-size: 113px auto, 100% 1215px;
  background-repeat: no-repeat;
}

@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .common_down {
    background-image: url(../images/mobile/contact/mobile-footer-spoon-and-flour@2x.png), url(../images/mobile/footer-bg/mobile-footer-bg@2x.png);
  }
}

@media screen and (min-width: 768px) {
  .common_down {
    background-image: url(../images/tablet/registration/tablet-footer-confetti.png), url(../images/tablet/contact/tablet-footer-spoon-and-flour.png), url(../images/tablet/footer-bg/tablet-footer-bg.png);
    background-position: bottom 350px right 0, bottom 0 right 0, bottom 60px center;
    background-size: 300px auto, 207px auto, 100% 1260px;
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .common_down {
    background-image: url(../images/tablet/registration/tablet-footer-confetti@2x.png), url(../images/tablet/contact/tablet-footer-spoon-and-flour@2x.png), url(../images/tablet/footer-bg/tablet-footer-bg@2x.png);
  }
}

@media screen and (min-width: 1280px) {
  .common_down {
    background-image: url(../images/desktop/registration/desktop-footer-confetti.png), url(../images/desktop/contact/desktop-footer-spoon-and-flour.png), url(../images/desktop/footer-bg/desktop-footer-bg.png);
    max-width: 1920px;
    background-position: bottom 300px right 0, bottom 0 right 0, bottom 0 center;
    background-size: 545px auto, 362px auto, 100% 1500px;
  }
}

@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .common_down {
    background-image: url(../images/desktop/registration/desktop-footer-confetti@2x.png), url(../images/desktop/contact/desktop-footer-spoon-and-flour@2x.png), url(../images/desktop/footer-bg/desktop-footer-bg@2x.png);
  }
}

.reviews {
  max-width: 290px;
  margin: auto;
}

@media screen and (min-width: 768px) {
  .reviews {
    max-width: 626px;
  }
}

@media screen and (min-width: 1280px) {
  .reviews {
    max-width: 626px;
    margin: auto;
  }
}

.reviews__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.item-1,
.item-3 {
  margin-top: 5px;
}

.item-2 {
  margin-top: 0px;
}

@media screen and (min-width: 768px) {
  .item-2 {
    margin-top: 35px;
  }
}

@media screen and (min-width: 1280px) {
  .item-2 {
    margin-top: 45px;
  }
}

.reviews__item {
  display: none;
  font-size: 14px;
  text-align: center;
}

.reviews__item p {
  font-family: Montserrat;
  font-style: italic;
}

.reviews__item:nth-child(2) {
  display: block;
}

.reviews__item:nth-child(2) p {
  margin-top: 6px;
}

@media screen and (min-width: 768px) {
  .reviews__item {
    margin-right: 38px;
    display: block;
  }
  .reviews__item:nth-child(3) {
    margin-right: 0;
  }
  .reviews__item p {
    margin-top: 6px;
    font-size: 14px;
  }
}

@media screen and (min-width: 1280px) {
  .reviews__item {
    margin-right: 60px;
  }
  .reviews__item:nth-child(3) {
    margin-right: 0;
  }
  .reviews__item p {
    margin-top: 6px;
    font-size: 16px;
  }
}

.reviews__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.reviews__images {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  margin: auto;
}

.reviews__decorate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  color: #ab816c;
  margin-top: 30px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 300px;
}

@media screen and (min-width: 768px) {
  .reviews__decorate {
    width: 300px;
  }
}

@media screen and (min-width: 1280px) {
  .reviews__decorate {
    width: 330px;
  }
}

@media screen and (min-width: 1280px) and (min-width: 768px) {
  .reviews__decorate {
    margin-top: 35px;
  }
}

.reviews__decorate::after {
  position: absolute;
  content: '';
  width: 35px;
  bottom: 9px;
  border: 1px solid #ab816c;
}

@media screen and (min-width: 320px) {
  .reviews__decorate::after {
    max-width: 767px;
    top: 47%;
    right: 20%;
  }
}

@media screen and (min-width: 768px) {
  .reviews__decorate::after {
    max-width: 768px;
  }
}

@media screen and (min-width: 1280px) {
  .reviews__decorate::after {
    max-width: 1280px;
  }
}

.reviews__decorate::before {
  position: absolute;
  content: '';
  width: 35px;
  bottom: 9px;
  border: 1px solid #ab816c;
}

@media screen and (min-width: 320px) {
  .reviews__decorate::before {
    max-width: 767px;
    top: 47%;
    left: 20%;
  }
}

@media screen and (min-width: 768px) {
  .reviews__decorate::before {
    max-width: 768px;
  }
}

@media screen and (min-width: 1280px) {
  .reviews__decorate::before {
    max-width: 1280px;
  }
}

.reviews__descriprtion {
  text-align: center;
  margin-top: 17px;
  font-size: 16px;
}

@media screen and (min-width: 1280px) and (min-width: 768px) {
  .reviews__descriprtion {
    font-size: 18px;
  }
}

.reviews-section {
  padding-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .reviews-section {
    padding-bottom: 45px;
  }
}

@media screen and (min-width: 1280px) {
  .reviews-section {
    padding-bottom: 68px;
  }
}

.program__container {
  display: block;
  padding-bottom: 18px;
}

@media screen and (min-width: 768px) {
  .program__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-bottom: 0px;
  }
}

@media screen and (min-width: 1280px) {
  .program__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-bottom: 68px;
  }
}

.grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.grid__item:nth-child(even) {
  margin-top: 70px;
}

@media screen and (min-width: 1280px) {
  .grid__item:nth-child(even) {
    margin-top: 41px;
  }
}

.grid__item:nth-child(odd) {
  margin-top: 30px;
}

@media screen and (min-width: 1280px) {
  .grid__item:nth-child(odd) {
    margin-top: 0px;
  }
}

.program__content-box {
  width: 290px;
}

.program__content-box:last-child {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  padding-bottom: 0px;
}

@media screen and (min-width: 768px) {
  .program__content-box:last-child {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
    padding-bottom: 65px;
  }
}

@media screen and (min-width: 1280px) {
  .program__content-box:last-child {
    -webkit-transform: translateY(41px);
            transform: translateY(41px);
    padding-bottom: 0px;
  }
}

@media screen and (min-width: 768px) {
  .program__content-box {
    width: 300px;
  }
}

@media screen and (min-width: 1280px) {
  .program__content-box {
    width: 392px;
  }
}

.program__item {
  text-align: center;
  width: 142px;
  height: 142px;
  background-color: #fef3e4;
  -webkit-box-shadow: 0px 4px 4px rgba(171, 129, 108, 0.25);
          box-shadow: 0px 4px 4px rgba(171, 129, 108, 0.25);
  border: none;
  border-radius: 50%;
}

@media screen and (min-width: 1280px) {
  .program__item {
    width: 180px;
    height: 180px;
  }
}

.program-card__title {
  font-family: "Caveat Brush", cursive;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.27;
  text-align: center;
  color: #000000;
}

@media screen and (min-width: 1280px) {
  .program-card__title {
    font-weight: 400;
    font-size: 24px;
    line-height: 1.25;
  }
}

.program-card__text {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  text-align: center;
  color: #2e2520;
  padding-top: 13px;
  padding-bottom: 13px;
}

@media screen and (min-width: 1280px) {
  .program-card__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

.program__item-text {
  padding-top: 21px;
  padding-bottom: 0px;
}

@media screen and (min-width: 768px) {
  .program__item-text {
    padding-bottom: 0px;
  }
}

@media screen and (min-width: 1280px) {
  .program__item-text {
    padding-bottom: 21px;
  }
}

.program__text {
  padding-bottom: 15px;
}

.program__text::before {
  content: '> ';
}

.program__text:last-child {
  margin-bottom: -15px;
}

.program__img-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translateY(-37px);
          transform: translateY(-37px);
}

@media screen and (min-width: 1280px) {
  .program__img-wrap {
    -webkit-transform: translateY(-47px);
            transform: translateY(-47px);
  }
}

.program__text-label {
  font-family: "Caveat Brush", cursive;
  font-weight: 400;
  font-size: 18px;
  line-height: 3.61;
  text-align: center;
  color: #ab816c;
  text-decoration: none;
  cursor: pointer;
}

@media screen and (min-width: 1280px) {
  .program__text-label {
    display: none;
  }
}

.program__text-wrap {
  /*   @media screen and (min-width: 768px) {
    max-width: 336px;
  }

  @media screen and (min-width: 1280px) {
    max-width: 392px;
    padding-top: 100px;
    padding-bottom: 39px;
    padding-right: 5px;
  } */
}

@media screen and (min-width: 1280px) {
  .program__text-wrap--textblock-hidden {
    display: none;
  }
}

@media screen and (max-width: 1279.98px) {
  .program__text-wrap--textblock-visable {
    display: none;
  }
}

@media screen and (min-width: 1280px) {
  .program__text-wrap--textblock-visable {
    display: block;
  }
}

/* .program__text-add {
  display: none;

  @media screen and (min-width: 1280px) {
    display: block;
  }
} */
.program-card {
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
}

@media screen and (min-width: 1280px) {
  .program-card {
    -webkit-transform: translateY(-40px);
            transform: translateY(-40px);
  }
}

.program-card__icon {
  fill: #674d40;
}

.icon-chef-hat {
  width: 19px;
  height: 18px;
}

@media screen and (min-width: 1280px) {
  .icon-chef-hat {
    width: 25px;
    height: 23px;
  }
}

.icon-people {
  width: 20px;
  height: 18px;
}

@media screen and (min-width: 1280px) {
  .icon-people {
    width: 26px;
    height: 23px;
  }
}

.icon-clock {
  width: 20px;
  height: 20px;
}

@media screen and (min-width: 1280px) {
  .icon-clock {
    width: 25px;
    height: 25px;
  }
}

.icon-chat {
  width: 25px;
  height: 17px;
}

@media screen and (min-width: 1280px) {
  .icon-chat {
    width: 31px;
    height: 21px;
  }
}

.registration {
  width: 100%;
  margin-bottom: 27px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .registration {
    margin-bottom: 51px;
    min-width: 768px;
    background-image: url("../images/tablet/registration/tablet-registration-donut.png");
    background-position: bottom 60px left 0;
    background-size: 196px auto;
    background-repeat: no-repeat;
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .registration {
    background-image: url("../images/tablet/registration/tablet-registration-donut@2x.png");
  }
}

@media screen and (min-width: 1280px) {
  .registration {
    margin-bottom: 77px;
    background-image: url("../images/desktop/registration/desktop-registration-donut.png");
    background-position: bottom 70px left 100px;
    background-size: 196px auto;
  }
}

@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .registration {
    background-image: url("../images/desktop/registration/desktop-registration-donut@2x.png");
  }
}

.registration__tittle {
  text-align: center;
  margin-bottom: 11px;
}

@media screen and (min-width: 1280px) {
  .registration__tittle {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 767px) {
  .registration__conteiner {
    width: 290px;
    height: 510px;
    padding-top: 15px;
    padding-bottom: 47px;
    background: #fffff9;
    -webkit-box-shadow: -4px -4px 4px rgba(171, 129, 108, 0.15), 4px 4px 4px rgba(171, 129, 108, 0.15);
            box-shadow: -4px -4px 4px rgba(171, 129, 108, 0.15), 4px 4px 4px rgba(171, 129, 108, 0.15);
    border-radius: 150px 150px 0px 0px;
  }
}

@media screen and (min-width: 768px) {
  .registration__area {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: calc(100% / 3 -30px);
            flex-direction: calc(100% / 3 -30px);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 35px;
    width: 634px;
    height: 260px;
    background: #fffff9;
    -webkit-box-shadow: -4px -4px 4px rgba(171, 129, 108, 0.15), 4px 4px 4px rgba(171, 129, 108, 0.15);
            box-shadow: -4px -4px 4px rgba(171, 129, 108, 0.15), 4px 4px 4px rgba(171, 129, 108, 0.15);
    border-radius: 150px;
  }
}

@media screen and (min-width: 1280px) {
  .registration__area {
    padding: 35px 98px;
    width: 822px;
  }
}

.registration__data-box {
  position: relative;
}

@media screen and (max-width: 767px) {
  .registration__data-box {
    margin-bottom: 11px;
  }
}

@media screen and (min-width: 768px) {
  .registration__data-box {
    -ms-flex-item-align: start;
        align-self: flex-start;
    margin-top: 0;
    padding-right: 30px;
    width: 144px;
    padding-top: 19px;
  }
}

.registration__data-box::after {
  content: '';
  display: block;
  width: 265px;
  height: 0;
  border: 1px solid rgba(171, 129, 108, 0.5);
}

@media screen and (max-width: 767px) {
  .registration__data-box::after {
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .registration__data-box::after {
    width: 190px;
    -webkit-transform: translateX(47px) translateY(-35px) rotate(90deg);
            transform: translateX(47px) translateY(-35px) rotate(90deg);
  }
}

.registration__data {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .registration__data {
    margin: 0 auto;
    padding: 0 88px;
    margin-bottom: 27px;
  }
}

@media screen and (min-width: 768px) {
  .registration__data {
    text-align: right;
    margin-left: auto;
  }
}

.registration__price {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .registration__price {
    text-align: right;
    margin-top: 30px;
  }
}

.registration__form {
  margin-bottom: 37px;
}

@media screen and (max-width: 767px) {
  .registration__form {
    padding: 0 15px;
  }
}

@media screen and (min-width: 768px) {
  .registration__form {
    padding-right: 25px;
    margin-top: 0;
    margin-left: 30px;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1280px) {
  .registration__form {
    padding: 19px 38px 19px 0;
    padding-right: 38px;
  }
}

.registration__entry-field--tittle {
  display: block;
  margin-bottom: 17px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .registration__entry-field--tittle {
    text-align: left;
  }
}

.registration__entry-field {
  width: 100%;
  border: none;
  border-bottom: 1px solid #ab816c;
}

.registration__entry-field:not(:last-child) {
  margin-bottom: 25px;
}

@media screen and (min-width: 768px) {
  .registration__entry-field:not(:last-child) {
    margin-bottom: 15px;
  }
}

.placeholder,
::-webkit-input-placeholder {
  font-family: "Montserrat Medium", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(171, 129, 108, 0.5);
}

.registration__button {
  margin: 0 auto;
}
/*# sourceMappingURL=main.css.map */