$main-bg-cr: #fff;
$alternative-bg-cr: #fef3e4;
$main-text-cr: #2e2520;
$programs-text-cr: #000000;
$programs-icons-cr: #674d40;
$additional-cr: #ab816c;
$registration-tab-cr: #fffff9;
$registration-line-cr: rgba(171, 129, 108, 0.5);
$title-font: 'Caveat Brush', cursive;
$alternative-font-italic: 'Montserrat Medium', sans-serif;
$alternative-font-regular: 'Montserrat', sans-serif;
