.contact__section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact {
  text-align: center;
}

.contact__lable {
  font-family: Montserrat;
  font-size: 18px;
  line-height: 3.6;
  color: $main-text-cr;
}

.contact__form {
  max-width: 430px;
  margin: 0 auto;
}

.contact__form-field {
  margin-top: 27px;
  height: 27px;
  width: 430px;
  font-size: 16px;
  line-height: 1.25;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid #ab816c;

  &::-webkit-input-placeholder {
    color: rgba(171, 129, 108, 0.5);
   }
}

.contact__title {
  font-family: $title-font;
  font-size: 36px;
  line-height: 1.8;
  color: $main-text-cr;
}

.contact__btn {
  flex-wrap: wrap;
  align-content: center;
  min-width: 145px;
  height: 40px;
  margin-top: 27px;
  font-family: 'Caveat Brush';
  font-size: 24px;
  line-height: 2.7;
  color: #fff;
  background-color: #ab816c;
  border: 1px solid transparent;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}