<section class="contact__section">
  <div class="container contact">
    <h2 class="section__title">Contact</h2>
    <span class="contact__lable">We will answer any question!</span>
    <form class="contact__form">
      <input class="contact__form-field" type="email" name="email" placeholder="Email" required />
      <input class="contact__form-field" type="text" name="question" placeholder="Type your question" />
    </form>
    <button class="btn" type="submit">Send</button>
  </div>
</section>