<section id="contacts" class="contact-section">
  <div class="contact container">
    <h2 class="section__title">Contact</h2>

    <span class="contact__lable">We will answer any question!</span>
    <form class="contact__form">
      <input class="contact__form-field" type="email" name="email" id="user_email" value=""
      placeholder="Email" required />
      <input class="contact__form-field" type="text" name="question"
      autocomplete="off" maxlength="40"
      placeholder="Type your question" />
      <button class="btn" type="submit">Send</button>
    </form>
  </div>
</section>