<footer id="footer" class="footer">
  <div class="footer__container container">
    <ul class="footer__socials social-list list">
      <li class="social-list__item">
        <a
          class="social-list__link link"
          href="https://twitter.com/?lang=uk"
          aria-label="Ссылка на twitter"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg class="social-list__icon social-list__tw">
            <use href="./images/svg/sprite.svg#icon-twitter"></use>
          </svg>
        </a>
      </li>
      <li class="social-list__item">
        <a
          class="social-list__link link"
          href="https://www.instagram.com/"
          aria-label="Ссылка на instagram"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg class="social-list__icon social-list__inst">
            <use href="./images/svg/sprite.svg#icon-insta"></use>
          </svg>
        </a>
      </li>
      <li class="social-list__item">
        <a
          class="social-list__link link"
          href="https://uk-ua.facebook.com/"
          aria-label="Ссылка на facebook"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg class="social-list__icon social-list__fb">
            <use href="./images/svg/sprite.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
    </ul>
    <div class="footer-info">
      <div class="footer__tel">
        <a class="footer__tel-link link" href="tel:9102228855">
          <svg class="footer__tel-icon" width="13" height="13">
            <use href="./images/svg/sprite.svg#icon-tel"></use>
          </svg>
          (910)222-8855
        </a>
      </div>
      <div class="footer__location">
        <button class="footer__location-btn" data-modal-open>
          <svg class="footer__location-icon" width="11" height="15">
            <use href="./images/svg/sprite.svg#icon-location"></use>
          </svg>
            New York
        </button>
      </div>
    </div>
  </div>
</footer>
