<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <button class="modal__btn-close" type="button" data-modal-close>
      <svg class="modal__btn-icon" width="11" height="11">
        <use href="./images/svg/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <iframe
      class="modal__map"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d387190.2798864718!2d-74.25986673512958!3d40.69767006847737!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2z0J3RjNGOLdCZ0L7RgNC6LCDQodCo0JA!5e0!3m2!1sru!2sua!4v1621346985268!5m2!1sru!2sua"
      allowfullscreen=""
      loading="lazy"
    ></iframe>
  </div>
</div>
