<section class="program" id="program">
    <div class="container program__container">
        <div class="program__content-box">
            <h2 class="section__title">Program</h2>
            <div class="program__text-wrap program__text-wrap--textblock-hidden">
            <p>Indulge in this immersive sweet treat experience with The Chef Donut Queen
                in her New York donut shop!</p>
            <ul class="list program__item-text">
                <li class="program__text">A stand up history of donuts</li>
                <li class="program__text">Make 3 donut flavors of your choice</li>
                <li class="program__text">Enjoy all-you-can-eat donuts</li>
                <li class="program__text">Cocktail pairings and coffee included</li>
                <li class="program__text">Photoshoot by professional photographer</li>
                <li class="program__text">Secret receipt of cooking from Eva</li>
                <li class="program__text">All products are included in the price</li>
            </ul>
            <p class="story"> <br>Come with your dear people and friends
                and you will spend an unforgettable time and
                will become a real professional
                in donuts cooking!</p>
            </div>
            <div class="program__text-wrap program__text-wrap--textblock-visable">
                <p>Indulge in this immersive sweet treat experience with The Chef Donut Queen
                    in her New York donut shop!</p>
                <ul class="list program__item-text">
                    <li class="program__text">A stand up history of donuts</li>
                    <li class="program__text">Make 3 donut flavors of your choice</li>
                    <li class="program__text">Enjoy all-you-can-eat donuts</li>
                    <li class="program__text">Cocktail pairings and coffee included</li>
                    <li class="program__text">Photoshoot by professional photographer</li>
                    <li class="program__text">Secret receipt of cooking from Eva</li>
                    <li class="program__text">All products are included in the price</li>
                </ul>
                <p>Come with your dear people and friends
                    and you will spend an unforgettable time and
                    will become a real professional
                    in donuts cooking!</p>
            </div>
        </div>
        <ul class="list grid program__content-box">
            <li class="grid__item">
                <div class="program__item">
                    <picture class="program__img-wrap">
                        <source
                            srcset="./images/desktop/programm/desktop-1-cooking-donut.png 1x, ./images/desktop/programm/desktop-1-cooking-donut@2x.png 2x"
                            media="(min-width: 1280px)" />
                        <source
                            srcset="./images/tablet/programm/tablet-1-cooking-donut.png 1x, ./images/tablet/programm/tablet-1-cooking-donut@2x.png 2x"
                            media="(min-width: 768px)" />
                        <source
                            srcset="./images/mobile/programm/mobile-1-cooking-donut.png 1x, ./images/mobile/programm/mobile-1-cooking-donut@2x.png 2x"
                            media="(max-width: 767px)" />
                        <img src="./images/desktop/programm/desktop-1-cooking-donut.png" alt="donut" />
                    </picture>
                    <div class="program-card">
                        <h3 class="program-card__title">Type of the event </h3>
                        <p class="program-card__text">Cooking classes</p>
                        <svg class="program-card__icon icon-chef-hat">
                            <use href="./images/svg/sprite.svg#icon-chef-hat"></use>
                        </svg>
                    </div>
                </div>
            </li>
            <li class="grid__item">
                <div class="program__item">
                    <picture class="program__img-wrap">
                        <source
                            srcset="./images/desktop/programm/desktop-2-cooking-donut.png 1x, ./images/desktop/programm/desktop-2-cooking-donut@2x.png 2x"
                            media="(min-width: 1280px)" />
                        <source
                            srcset="./images/tablet/programm/tablet-2-cooking-donut.png 1x, ./images/tablet/programm/tablet-2-cooking-donut@2x.png 2x"
                            media="(min-width: 768px)" />
                        <source
                            srcset="./images/mobile/programm/mobile-2-cooking-donut.png 1x, ./images/mobile/programm/mobile-2-cooking-donut@2x.png 2x"
                            media="(max-width: 767px)" />
                        <img src="./images/desktop/programm/desktop-2-cooking-donut.png" alt="donut" />
                    </picture>
                    <div class="program-card">
                        <h3 class="program-card__title">Number of guests</h3>
                        <p class="program-card__text">1 to 20</p>
                        <svg class="program-card__icon icon-people">
                            <use href="./images/svg/sprite.svg#icon-people"></use>
                        </svg>
                    </div>
                </div>
            </li>
            <li class="grid__item">
                <div class="program__item">
                    <picture class="program__img-wrap">
                        <source
                            srcset="./images/desktop/programm/desktop-3-cooking-donut.png 1x, ./images/desktop/programm/desktop-3-cooking-donut@2x.png 2x"
                            media="(min-width: 1280px)" />
                        <source
                            srcset="./images/tablet/programm/tablet-3-cooking-donut.png 1x, ./images/tablet/programm/tablet-3-cooking-donut@2x.png 2x"
                            media="(min-width: 768px)" />
                        <source
                            srcset="./images/mobile/programm/mobile-3-cooking-donut.png 1x, ./images/mobile/programm/mobile-3-cooking-donut@2x.png 2x"
                            media="(max-width: 767px)" />
                        <img src="./images/desktop/programm/desktop-3-cooking-donut.png" alt="donut" />
                    </picture>
                    <div class="program-card">
                        <h3 class="program-card__title">Time of the event</h3>
                        <p class="program-card__text">18:30 (2.5 hours)</p>
                        <svg class="program-card__icon icon-clock">
                            <use href="./images/svg/sprite.svg#icon-clock"></use>
                        </svg>
                    </div>
                </div>
            </li>
            <li class="grid__item">
                <div class="program__item">
                    <picture class="program__img-wrap">
                        <source
                            srcset="./images/desktop/programm/desktop-4-cooking-donut.png 1x, ./images/desktop/programm/desktop-4-cooking-donut@2x.png 2x"
                            media="(min-width: 1280px)" />
                        <source
                            srcset="./images/tablet/programm/tablet-4-cooking-donut.png 1x, ./images/tablet/programm/tablet-4-cooking-donut@2x.png 2x"
                            media="(min-width: 768px)" />
                        <source
                            srcset="./images/mobile/programm/mobile-4-cooking-donut.png 1x, ./images/mobile/programm/mobile-4-cooking-donut@2x.png 2x"
                            media="(max-width: 767px)" />
                        <img src="./images/desktop/programm/desktop-4-cooking-donut.png" alt="donut" />
                    </picture>
                    <div class="program-card">
                        <h3 class="program-card__title">The host speaks</h3>
                        <p class="program-card__text">English, French</p>
                        <svg class="program-card__icon icon-chat">
                            <use href="./images/svg/sprite.svg#icon-chat"></use>
                        </svg>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>