<section class="registration" id="registration">
    
    <div class=" container">
        <div class="registration__conteiner">
            <h2 class="registration__tittle section__title">Registration</h2>

            <div class="registration__area">
    
                <div class="registration__data-box">
                    <p class="registration__data">May 23, 11:00 New York</p>
                    <p class="registration__price">$ 699</p>
                </div>
    
                <form class="registration__form" >
                    <label><span class="registration__entry-field--tittle">Apply your personal info for registration</span>
                        <input class="registration__entry-field" type="text" placeholder="Your name" required pattern="^[a-zA-Z]+$">
                        <input class="registration__entry-field" type="tel" placeholder="Phone number" required pattern="[0-9]{10,12}">
                        <input class="registration__entry-field" type="email" placeholder="Email" required pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})">
                    </label>
                    <button class="registration__button btn" type="submit" >Register</button>
                </form>
                
            </div>

        </div>
        
    </div>

</section>