<section id="reviews" class="reviews-section">
  <div class="container reviews">
    <h2 class="reviews__title">Reviews</h2>

    <ul class="reviews__list">
      <li class="reviews__item item-1">
        <picture class="reviews__images">
          <source
            srcset="
              ./images/desktop/reviews/desktop-reviews-John.png    1x,
              ./images/desktop/reviews/desktop-reviews-John@2x.png 2x
            "
            media="(min-width:1280px)"
            type="image/png"
          />
          <source
            srcset="
              ./images/tablet/reviews/tablet-reviews-John.png    1x,
              ./images/tablet/reviews/tablet-reviews-John@2x.png 2x
            "
            media="(min-width:768px)"
            type="image/png"
          />
          <img
            class="reviews__images"
            src="./images/desktop/reviews/desktop-reviews-John.png"
            alt=""
          />
        </picture>
        <div>
          <ul class="rate__list">
            <li class="rate__item">
              <svg class="icon__star">
                <use href="./images/svg/sprite.svg#icon-star"></use>
              </svg>
            </li>
            <li class="rate__item">
              <svg class="icon__star">
                <use href="./images/svg/sprite.svg#icon-star"></use>
              </svg>
            </li>
            <li class="rate__item">
              <svg class="icon__star">
                <use href="./images/svg/sprite.svg#icon-star"></use>
              </svg>
            </li>
            <li class="rate__item">
              <svg class="icon__star">
                <use href="./images/svg/sprite.svg#icon-star"></use>
              </svg>
            </li>
            <li class="rate__item">
              <svg class="icon__star null">
                <use href="./images/svg/sprite.svg#icon-star-null"></use>
              </svg>
            </li>
          </ul>
          <p>John</p>
        </div>
      </li>

      <li class="reviews__item item-2">
        <picture>
          <source
            srcset="
              ./images/desktop/reviews/desktop-reviews-Will.png    1x,
              ./images/desktop/reviews/desktop-reviews-Will@2x.png 2x
            "
            media="(min-width:1280px)"
            type="image/png"
          />
          <source
            srcset="
              ./images/tablet/reviews/tablet-reviews-Will.png    1x,
              ./images/tablet/reviews/tablet-reviews-Will@2x.png 2x
            "
            media="(min-width:768px)"
            type="image/png"
          />
          <source
            srcset="
              ./images/mobile/reviews/mobile-reviews-Will.png    1x,
              ./images/mobile/reviews/mobile-reviews-Will@2x.png 2x
            "
            media="(max-width:767px)"
            type="image/png"
          />
          <img
            class="reviews__images"
            src="./images/desktop/reviews/desktop-reviews-Will.png"
            alt=""
          />
        </picture>

        <div>
          <ul class="rate__list">
            <li class="rate__item">
              <svg class="icon__star">
                <use href="./images/svg/sprite.svg#icon-star"></use>
              </svg>
            </li>
            <li class="rate__item">
              <svg class="icon__star">
                <use href="./images/svg/sprite.svg#icon-star"></use>
              </svg>
            </li>
            <li class="rate__item">
              <svg class="icon__star">
                <use href="./images/svg/sprite.svg#icon-star"></use>
              </svg>
            </li>
            <li class="rate__item">
              <svg class="icon__star">
                <use href="./images/svg/sprite.svg#icon-star"></use>
              </svg>
            </li>
            <li class="rate__item">
              <svg class="icon__star">
                <use href="./images/svg/sprite.svg#icon-star"></use>
              </svg>
            </li>
          </ul>
          <p>Will</p>
        </div>
      </li>

      <li class="reviews__item item-3">
        <picture>
          <source
            srcset="
              ./images/desktop/reviews/desktop-reviews-Elisabeth.png    1x,
              ./images/desktop/reviews/desktop-reviews-Elisabeth@2x.png 2x
            "
            media="(min-width:1280px)"
            type="image/png"
          />
          <source
            srcset="
              ./images/tablet/reviews/tablet-reviews-Elisabeth.png    1x,
              ./images/tablet/reviews/tablet-reviews-Elisabeth@2x.png 2x
            "
            media="(min-width:768px)"
            type="image/png"
          />
          <img
            class="reviews__images"
            src="./images/desktop/reviews/desktop-reviews-Elisabeth.png"
            alt=""
          />
        </picture>

        <div>
          <ul class="rate__list">
            <li class="rate__item">
              <svg class="icon__star">
                <use href="./images/svg/sprite.svg#icon-star"></use>
              </svg>
            </li>
            <li class="rate__item">
              <svg class="icon__star">
                <use href="./images/svg/sprite.svg#icon-star"></use>
              </svg>
            </li>
            <li class="rate__item">
              <svg class="icon__star">
                <use href="./images/svg/sprite.svg#icon-star"></use>
              </svg>
            </li>
            <li class="rate__item">
              <svg class="icon__star">
                <use href="./images/svg/sprite.svg#icon-star"></use>
              </svg>
            </li>
            <li class="rate__item">
              <svg class="icon__star">
                <use href="./images/svg/sprite.svg#icon-star"></use>
              </svg>
            </li>
          </ul>
          <p>Elisabeth</p>
        </div>
      </li>
    </ul>
    <div class="reviews__descriprtion">
      <p>
        Last time I have visited a cooking course by Eva I was impressed with the way she explained
        everything to people. You can be sure you will manage to cook a delicious dish even if it is
        your first time in the kitchen! Thank you so much for the masterclass! Looking forward to
        the next one and highly recommend it to everyone!
      </p>
    </div>
  </div>
  <div class="reviews__content">
    <p class="reviews__decorate">Thank You</p>
  </div>
</section>
