.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 145px;
  height: 40px;

  font-family: $title-font;
  font-size: 18px;
  line-height: 3.61;

  color: $main-bg-cr;
  background-color: $additional-cr;
  border: 1px solid transparent;
  border-radius: 25px;
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 1280px) {
    min-width: 158px;
    height: 45px;
    font-size: 24px;
    line-height: 2.71;
  }

  &:focus,
  &:hover {
    background-color: $main-bg-cr;
    border: 1px solid $additional-cr;
    color: $additional-cr;
  }
}
