.registration {
  width: 100%;
  padding-bottom: 27px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 768px) {
    padding-bottom: 51px;
    min-width: 768px;
    background-image: url('../images/tablet/registration/tablet-registration-donut.png');
    background-position: bottom 100px left 0;
    background-size: 250px auto;
    background-repeat: no-repeat;

    @media screen and (min-device-pixel-ratio: 2),
      screen and(min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url('../images/tablet/registration/tablet-registration-donut@2x.png');
    }
  }
  @media screen and (min-width: 1280px) {
    padding-bottom: 77px;

    background-image: url('../images/desktop/registration/desktop-registration-donut.png');
    background-position: bottom 140px left 65px;
    background-size: 250px auto;

    @media screen and (min-device-pixel-ratio: 2),
      screen and(min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url('../images/desktop/registration/desktop-registration-donut@2x.png');
    }
  }
}
.registration__tittle {
  text-align: center;
  margin-bottom: 11px;

  @media screen and (min-width: 768px) {
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 10px;
  }
}
.registration__conteiner {
  @media screen and (max-width: 767px) {
    width: 290px;
    height: 510px;
    margin: 0 auto;
    padding-top: 15px;
    padding-bottom: 47px;
    background: $registration-tab-cr;
    box-shadow: -4px -4px 4px rgba(171, 129, 108, 0.15), 4px 4px 4px rgba(171, 129, 108, 0.15);
    border-radius: 150px 150px 0px 0px;
  }
}
.registration__area {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: calc(100% / 3 -30px);
    align-items: center;
    margin: 0 auto;
    padding: 35px;
    width: 634px;
    height: 260px;
    background: $registration-tab-cr;
    box-shadow: -4px -4px 4px rgba(171, 129, 108, 0.15), 4px 4px 4px rgba(171, 129, 108, 0.15);
    border-radius: 150px;
  }
  @media screen and (min-width: 1280px) {
    padding: 35px 98px;
    width: 822px;
  }
}
.registration__data-box {
  position: relative;
  @media screen and (max-width: 767px) {
    margin-bottom: 11px;
  }
  @media screen and (min-width: 768px) {
    align-self: flex-start;
    margin-top: 0;
    padding-right: 30px;
    width: 144px;
    padding-top: 19px;
  }
  &::after {
    content: '';
    display: block;
    width: 265px;
    height: 0;
    border: 1px solid $registration-line-cr;
    @media screen and (max-width: 767px) {
      margin: 0 auto;
    }

    @media screen and (min-width: 768px) {
      width: 190px;
      transform: translateX(47px) translateY(-35px) rotate(90deg);
    }
  }
}
.registration__data {
  font-family: $alternative-font-regular;
  font-style: normal;
  @include fonts(500, 18px, 1.2);
  text-align: center;
  @media screen and (max-width: 767px) {
    margin: 0 auto;
    padding: 0 88px;
    margin-bottom: 27px;
  }
  @media screen and (min-width: 768px) {
    text-align: right;
    margin-left: auto;
  }
}
.registration__price {
  font-family: $alternative-font-regular;
  @include fonts(500, 18px, 1.2);
  text-align: center;
  margin-bottom: 20px;
  @media screen and (min-width: 768px) {
    text-align: right;
    margin-top: 30px;
  }
}
.registration__form {
  
  @media screen and (max-width: 767px) {
    padding: 0 15px;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    margin-top: 0;
    margin-left: 30px;
    margin-bottom: 0;
  }
  @media screen and (min-width: 1280px) {
    padding: 19px 0;
  }
}
.registration__entry-field--tittle {
  display: block;
  margin-bottom: 17px;
  font-family: $alternative-font-regular;
  @include fonts(400, 16px, 1.25);
  text-align: center;
  @media screen and (min-width: 768px) {
    text-align: left;
  }
}
.registration__entry-field {
  width: 100%;
  border: none;
  border-bottom: 1px solid #ab816c;
  &:not(:last-child) {
    margin-bottom: 25px;
  }
  @media screen and (min-width: 768px) {
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }
}
.placeholder,
::-webkit-input-placeholder {
  font-family: $alternative-font-italic;
  font-style: normal;
  @include fonts(400, 16px, 1.25);
  color: $registration-line-cr;
}
.registration__button {
  margin: 37px auto 0 auto;
  @media screen and (min-width: 767px) {
    margin: 0 0 0 25px;
  }
  @media screen and (min-width: 1280px) {
    margin: 0 0 0 38px;
  }
}
